@media only screen and (max-width: 1024px) {
  .header {
    background: black;
    margin: 0;
  }

  .header-top {
    display: none;
  }

  .mobile-header-top {
    display: block;
  }

  .mobile-header-top .nav-menu .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 1rem;
    text-align: center;
  }

  .scars-menu {
    position: absolute;
    top: 42px;
    left: 30px;
    flex-direction: column;
    padding: 1.2rem;
  }

  .scars-menu a:hover {
    background: none;
  }

  .scars-menu .menu-heading,
  .scars-menu .menu-heading a,
  .scars-menu button {
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.6rem 0 0 0;
    margin: 0;
  }

  .panel {
    display: none;
  }

  .scars-menu .panel a {
    display: block;
    color: #ccc;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0.3rem 0rem 0.2rem 0.9rem;
    margin: 0;
    line-height: 1;
  }

  .mobile-header-top .header-top-right {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0.3rem;
  }

  .mobile-header-top .clock {
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.4rem;
    background-color: #444;
    border-radius: 0px;
    opacity: 0.75;
    margin: 0.2rem;
  }

  .mobile-header-top .clock p {
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    color: yellow;
    align-self: flex-end;
    margin: 0;
    padding: 0.2rem;
  }

  .header-middle {
    flex-direction: column;
    align-items: center;
    margin: -3rem 0;
  }

  .header-middle .scars-icon img {
    vertical-align: middle;
    height: 3rem;
    padding: 0;
    margin: 0;
  }

  .header-title .club-title {
    font-size: 2rem;
    margin: 0;
  }

  .header-title .sub-title {
    font-size: 1.6rem;
    font-weight: normal;
  }

  .marquee {
    visibility: hidden;
  }

  .main-body-title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    margin-right: 15px;
  }

  .main-body-title .main-heading h1 {
    color: #ccc;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
  }

  .main-body-title .other-content {
    display: none;
  }

  .main-body {
    flex-direction: column;
  }

  .article h3 {
    font-size: 1.3rem;
  }

  .article h4 {
    font-size: 1.1rem;
  }

  .article p {
    font-size: 0.9rem;
  }

  .lp-main-left {
    margin: 10px 0;
  }

  .lp-main-right {
    max-width: none;
    margin: 10px 0;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .left-footer-section {
    display: none;
  }

  .center-footer-section {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .center-footer-section p {
    font-size: 0.8rem;
  }

  /* Medallion icons */

  .medallions {
    display: none;
  }

  .mobile-medallions {
    display: inline;
    margin: 0;
    padding: 0;
  }

  .mobile-medallions ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .mobile-medallions ul li a {
    padding: 0rem;
    margin: 0 7px;
  }

  .right-footer-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
  }

  .right-footer-section h2 {
    font-size: 1.5rem;
  }

  .right-footer-section .social-header {
    display: none;
  }

  .social-media-icons {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }

  .social-media-icons a img {
    padding: 3px;
    align-self: auto;
    border-radius: 0px;
  }

  .donatebtn {
    display: none;
  }
}
