@media only screen and (max-width: 1024px) {
  .header {
    background: black;
    margin: 5px 0 0 0;
  }

  .header .key-menu {
    display: none;
  }

  .nav-menu .drop-menu a {
    padding: 0;
  }

  .sidebarIconToggle {
    left: 12px;
  }

  .drop-menu {
    position: absolute;
    top: 2.6rem;
    left: 0;
    height: auto;
    width: 240px;
    background-color: #333;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 0.8rem;
    margin-left: 0px;
    z-index: 20;
    transform: translateX(-240px);
    transition: transform 250ms ease-in-out;
  }

  /* only display top items when mobile and not displayed on widescreen */
  #top-items {
    display: flex;
  }

  .menu-section {
    width: 100%;
  }

  .drop-menu a.menu-heading {
    background: none;
    color: #ffbf00;
    padding: 0.3rem 0 0 0.6rem;
  }

  button.dropdown-button .button-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: #ffbf00;
    padding: 0.3rem 0.6rem 0 0.6rem;
  }

  button.dropdown-button .button-text:hover {
    background: #555;
    color: white;
    border-radius: 5px;
  }

  button.dropdown-button .button-text .fas {
    display: contents;
    color: #ffbf00;
  }

  button.dropdown-button {
    margin: 0;
    padding: 0;
  }

  .fas-caret-down {
    display: contents;
    float: right;
    padding-top: 0.1rem;
  }

  .drop-menu .menu-section .dropdown-container {
    display: none;
  }

  .drop-menu .menu-section {
    display: flex;
    flex-direction: column;
    margin: 0 0.2rem;
    padding: 0;
  }

  .drop-menu .menu-section a:not(.menu-heading) {
    font-size: 1rem;
    font-weight: 400;
    margin: 0rem 0.5rem;
    padding: 0.1rem 0.5rem;
  }

  .drop-menu a:hover {
    background: #555;
    color: white;
    border-radius: 5px;
  }

  .searchbox {
    padding-right: 5px;
  }

  .gsc-input-box {
    width: 100px !important;
  }

  .clock {
    display: none;
  }

  #mobile-clock {
    display: contents;
    text-align: right;
    padding-right: 10px;
  }

  .header-middle {
    margin: 0.5rem 0 -4rem 0;
  }

  .header-middle .scars-icon img {
    vertical-align: middle;
    height: 3rem;
    padding: 0;
    margin: 0 1rem 0 -1rem;
  }

  .header-title .club-title {
    font-size: 1.8rem;
    margin: 0;
  }

  .header-title .sub-title {
    font-size: 1.2rem;
    font-weight: normal;
  }

  .marquee {
    visibility: hidden;
  }

  .main-body-title {
    width: 100%;
    min-width: 300px;
    margin: auto;
    align-items: center;
    background-color: #333;
    padding: 3px;
  }

  .main-body-title .main-heading h1 {
    color: #ccc;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
    padding: 5px 5px;
  }

  .main-body-title .other-content {
    display: flex;
    align-items: center;
  }

  .main-body-title .other-content .heading-buttons .bcond {
    display: none;
  }

  .newhambtn {
    width: 106px;
    height: 32px;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: orange;
    border-radius: 0px;
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1;
    opacity: 1;
    margin: 2px 2px;
    padding: 3px;
  }

  .newhambtn a {
    overflow-wrap: break-word;
  }

  .newhambtn img {
    height: 16px;
    width: 16px;
    margin: 5px;
  }

  .main-body {
    min-width: 300px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .article h3 {
    font-size: 1.3rem;
  }

  .article h4 {
    font-size: 1.1rem;
  }

  .article p {
    font-size: 0.9rem;
  }

  .main-body-left {
    padding: 10px;
    margin: 1rem 0 0 0;
  }

  .main-body-right {
    width: 100%;
    max-width: none;
    padding: 10px;
    margin: 1rem 0 1rem 0;
  }

  .news-image {
    margin: 0.5rem 0 0.7rem 0;
  }

  .footer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .left-footer-section {
    display: none;
  }

  .center-footer-section {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .center-footer-section p {
    font-size: 0.8rem;
  }

  /* Medallion icons */

  .medallions {
    display: none;
  }

  .mobile-medallions {
    display: inline;
    margin: 0;
    padding: 0;
  }

  .mobile-medallions ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .mobile-medallions ul li a {
    padding: 0rem;
    margin: 0 7px;
  }

  .right-footer-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
  }

  .right-footer-section h2 {
    font-size: 1.5rem;
  }

  .right-footer-section .social-header {
    display: none;
  }

  .donatebtn {
    display: none;
  }
}
