/* 
This file is organized pretty much as the page flows 
You can find the major sections by searching on |||
*/

@font-face {
  font-family: "ibm3270";
  src: url("/newsite/css/fonts/3270-webfont.woff2") format("woff2"),
    url("/newsite/css/fonts/3270-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ||| OVERALL STYLING ------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  background-color: black;
}

p {
  padding: 5px 5px 15px 5px;
  font-weight: 300;
  font-size: 1.1rem;
  color: black;
  text-align: left;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  background: none;
  border: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus,
button:active {
  outline: none;
}

.fas,
.fab {
  border: none;
  color: #dbdbdb;
  font-size: 1.3rem;
  margin-right: 10px;
}

h1,
h2,
h3 {
  font-family: ibm3270, monospace;
  font-weight: bold;
  line-height: 1;
  color: white;
  text-align: left;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
}

script {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/* ||| HEADER ------------------------------- */

/* Overall Header stuff */

.header {
  /*  background: url("https://www.silvercometars/newsite/img/globalmap.png")
    no-repeat center center/cover; */
  border-radius: 0px;
  margin: 5px 15px 0px 15px;
}

/* Navbar in header */

.header-top {
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  height: 2rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 3px 0 0 55px;
}

.nav-menu a {
  padding: 0.5rem 1rem;
}

.nav-menu a:hover {
  background: #333;
  color: white;
  border-radius: 5px;
  transition: all 0.3s ease;
}

input[type="checkbox"]:checked ~ #drop-menu {
  transform: translateX(0);
}

input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 15px;
  left: 32px;
  height: 22px;
  width: 22px;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

/* ||| MENU (drop-down from Hamburger --- */

.drop-menu {
  position: absolute;
  top: 2.6rem;
  left: 0;
  height: 17rem;
  width: 770px;
  background-color: #333;
  border-radius: 0px;
  display: flex;
  align-items: flex-start;
  padding: 0 0.8rem;
  margin-left: 15px;
  z-index: 20;
  transform: translateX(-785px);
  transition: transform 250ms ease-in-out;
}

/* only display top items when mobile and not displayed on widescreen */
#top-items {
  display: none;
}

.drop-menu .menu-section {
  display: flex;
  flex-direction: column;
  margin: 1rem 1.8rem 1rem 1rem;
  padding: 0;
}

.drop-menu .menu-section .dropdown-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.drop-menu .menu-heading {
  color: #ffbf00;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: left;
  background: none;
  margin: 0;
  padding: 0;
}

button.dropdown-button .button-text .fas {
  display: none;
}

.drop-menu .menu-section a:not(.menu-heading) {
  font-size: 1rem;
  font-weight: 300;
  margin: 0 0 0.3rem 0;
  padding: 0rem 0.5rem;
}

.drop-menu a:hover {
  background: #555;
  color: white;
  border-radius: 5px;
}

.mobile-social-media-icons {
  display: none;
}

/* Top right section of header - searchbox and clocks */

.header-top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0.3rem;
}

/* Searchbox, including styling of Google's elements */

.searchbox {
  padding: 0;
  background: none;
}

.mobile-searchbox {
  display: none;
}

.gsc-control-cse {
  background: none !important;
  border: none !important;
  font-weight: 500 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.gs-snippet {
  font-weight: normal !important;
}

.gsc-input-box {
  width: 150px !important;
  border-color: #111 !important;
  height: 29px !important;
  padding: 0 !important;
  border-radius: 0px !important;
}

.gsc-input {
  font-family: "Roboto", sans-serif !important;
  font-size: 0.8rem !important;
  padding: 0 6px 0 0 !important;
}

.gsc-search-button {
  background: none !important;
  border-radius: 0 !important;
  width: 35px !important;
  height: 30px !important;
}

.gsc-search-button-v2 {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.gsst_a .gscb_a {
  color: #fff !important;
}

.gsc-results,
.gsc-result {
  border: none !important;
  background-color: #eee !important;
  min-width: 310px !important;
}

.gsc-results-wrapper-overlay {
  border: none !important;
  background-color: #eee !important;
  padding: 30px !important;
}

.gsc-above-wrapper-area {
  border-bottom: 1px solid #aaa !important;
  margin-top: 8px !important;
}

.gsc-selected-option-container {
  background-color: #444 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  font-weight: normal !important;
  font-size: 14px !important;
}

.gsc-cursor-page {
  background-color: #eee !important;
  color: #333 !important;
  border: none !important;
  font-size: 18px !important;
}

.gsc-modal-background-image-visible {
  background-color: black !important;
  opacity: 0.7 !important;
}

/* Clocks */

.clock {
  width: 12.2rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #222;
  border-radius: 0px;
  opacity: 0.75;
  margin: 0.2rem 0rem 0 0;
}

.clock p {
  font-family: monospace;
  font-size: 1.2rem;
  line-height: 1;
  color: yellow;
  align-self: flex-end;
  margin: 0;
  padding: 0.2rem;
}

#localTime,
#utcTime {
  padding-left: 1rem;
}

#mobile-clock {
  display: none;
}

/* Meatball (SCARS Icon/logo), Title and SubTitle in header */

.header-middle {
  margin: -4rem 0 0 -2rem;
  display: flex;
  justify-content: center;
}

.header-middle .scars-icon img {
  vertical-align: middle;
  height: 4rem;
  padding: 0 1.2rem 0 0;
  margin: 0;
}

.header-middle .scars-icon ul li a:hover {
  background: none;
  border-radius: 0px;
}

.header-title .club-title {
  font-family: ibm3270, monospace;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1;
  color: white;
  text-align: center;
}

.header-title .sub-title {
  font-family: ibm3270, monospace;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
  color: white;
  text-align: center;
}

/* ||| MARQUEE - Scrolling marquee above main content */

.header .marquee {
  margin-top: 2.2rem;
  display: flex;
  height: 50px;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}

.header .marquee p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;

  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  /* Apply animation to this element */
  -moz-animation: marquee 32s linear infinite;
  -webkit-animation: marquee 32s linear infinite;
  animation: marquee 32s linear infinite;
}

.header .marquee p,
.header .marquee a {
  color: #ffff00;
  font-weight: 400;
  font-size: 1.4rem;
}

/* Move it (define the animation) */
@-moz-keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}

/* ||| MAIN CONTENT - page title and main body ------------------------------- */

.main {
  margin: auto;
  max-width: 1220px;
  display: flex;
  flex-direction: column;
}

/* ||| MAIN BODY PAGE TITLE BELOW HEADER ------------------------------- */

.main-body-title {
  max-width: 1220px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0px 30px 0px 15px;
}

.main-body-title .main-heading h1 {
  color: #ccc;
  font-weight: bold;
}

.main-body-title .main-heading i.fas {
  border: none;
  color: #dbdbdb;
  font-size: 2.5rem;
  margin-right: 30px;
}

/* Special button for new hams - licensing/testing */

.newhambtn {
  width: 230px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: orange;
  border-radius: 0px;
  margin: 5px 0px;
  padding: 5px;
  color: #0d0e0d;
  font-size: 1rem;
  font-weight: bold;
  opacity: 0.7;
}

.newhambtn img {
  height: 30px;
  width: 30px;
}

a.newhambtn:hover {
  background-color: #f7d18c;
}

/* ||| BAND CONDITIONS ------------------------------- */

.condbtn {
  width: 230px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
  border-radius: 0px;
  margin: 5px 0;
  padding: 5px;
  color: #020257;
  font-size: 1rem;
  font-weight: bold;
}

a.condbtn:hover {
  background-color: #b4def8;
}

.condbtn .fas {
  color: #020257;
}

div.bcond:hover .bcond-info {
  visibility: visible;
}

.bcond-info {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 2px solid #333;
  border-radius: 5px;
  color: #ccc;
  margin: 0.5rem;
  padding: 0rem;
  visibility: visible;
}

.bcond-info a {
  padding: 20px;
}

.weather-info {
  margin: 1rem 1.5rem 0 1rem;
}

.propagation {
  margin: 0;
  padding: 0;
}

.space-weather {
  margin: 0.4rem;
  padding: 0;
}

.bcond-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.bcond-lower a {
  margin: 0;
}

.solar-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0.6rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.solar-data p {
  color: #f89807;
}

.x-rays {
  width: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  margin: 0 0 1rem 0;
}

.geomag {
  width: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  margin: 0 0 2rem 0;
}

/* ||| MAIN BODY ------------------------------- */

.main-body {
  margin: auto;
  display: flex;
  margin: 0px 15px 0px 15px;
}

.main-body-left {
  background-color: #cfcfcf;
  border-radius: 0px;
  padding: 20px;
  margin: 0 15px 15px 0;
  font-family: "Roboto", sans-serif;
  color: black;
}

.main-body-right {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cfcfcf;
  border-radius: 0px;
  padding: 20px;
  margin: 0 15px 15px 0;
  font-family: "Roboto", sans-serif;
  color: black;
}

.article h3 {
  color: #500e0e;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  padding: 8px;
}

.article h4 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.article p {
  padding: 5px 5px 15px 5px;
  font-weight: 300;
  font-size: 1.1rem;
  color: black;
  text-align: left;
}

.article a {
  font-weight: bold;
  color: black;
}

.news-image {
  margin: 1.2rem 0 2rem 0;
}

/* ||| RSS NEWS FEEDS ----------------------- */

.rssdog a {
  padding: 5px 5px 5px 5px;
  font-weight: 600;
  font-size: 1.1rem;
  color: black;
  text-align: left;
}

.rssdog p {
  padding: 5px 5px 15px 5px;
  font-weight: 300;
  font-size: 0.9rem;
  color: black;
  text-align: left;
}

/* ||| FOOTER ------------------------------- */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 0px 15px;
  padding: 0.5rem;
  background-color: #222;
  border-radius: 0px;
}

.footer p {
  padding: 0 0 0.5rem 0;
  margin: 0;
  font-size: 0.9rem;
  color: #fff;
}

.left-footer-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.paybtn {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: goldenrod;
  border: 2px solid #382a05;
  border-radius: 0px;
  padding: 5px;
  margin: 20px 0px;
  color: #382a05;
  font-weight: bold;
}

a.paybtn:hover {
  background-color: #f8c84e;
}

.center-footer-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 20px 0 30px 0;
}

/* Medallion icons */

.medallions {
  margin: 0;
  padding: 0;
}

.mobile-medallions {
  display: none;
}

.medallions ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20rem;
  list-style: none;
}

.medallions ul li a {
  padding: 0.25rem;
  margin: 0 0.5rem;
}

.right-footer-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  padding: 20px 40px 20px 20px;
}

.social-media-icons {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.social-media-icons a img {
  padding: 6px;
  align-self: center;
  border-radius: 0px;
}

.donatebtn {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: goldenrod;
  border: 2px solid #382a05;
  border-radius: 0px;
  padding: 5px;
  margin: 20px 0px;
  color: #382a05;
  font-weight: bold;
}

a.donatebtn:hover {
  background-color: #f8c84e;
}
