/* 
This file is organized pretty much as the page flows 
You can find the major sections by searching on |||
*/

@font-face {
  font-family: "ibm3270";
  src: url("fonts/3270-webfont.woff2") format("woff2"),
    url("fonts/3270-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ||| OVERALL STYLING ------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  background-color: black;
  display: grid;
  grid-gap: 8px;
  /* grid-template-columns: repeat(16, 1fr); */
  grid-template-columns: repeat(16, minmax(90, 120));
  grid-template-rows: 310px 60px 50px auto auto;
  grid-template-areas:
    "h h h h h h h h h h h h h h h h"
    "q q q q q q q q q q q q q q q q"
    ". p p p p p p p p p p p p p p ."
    ". a a a l l l l l r r r r r b ."
    "f f f f f f f f f f f f f f f f";
}

h1,
h2,
h3 {
  font-family: ibm3270, monospace;
  font-weight: bold;
  line-height: 1;
  color: white;
  text-align: left;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
}

script {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/* ||| HEADER ------------------------------- */

.header {
  grid-area: h;
  background: url("../img/globalmap.png") no-repeat center center/cover;
  border-radius: 5px;
  margin: 5px 5px 0px 5px;
}

/* Navbar in header */

.nav {
  height: 50px;
  display: flex;
  top: 0;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav ul li {
  font-family: ibm3270, monospace;
  font-size: 1.6rem;
  color: #fff;
}

.nav ul li a {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
}

.nav ul li a:hover {
  background: #333;
  border-radius: 5px;
}

/* Title and SubTitle in header */

#title .title {
  padding-top: 3rem;
  font-family: ibm3270, monospace;
  font-weight: bold;
  font-size: 4rem;
  line-height: 1;
  color: white;
  text-align: center;
}

#title .subtitle {
  font-family: ibm3270, monospace;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 1;
  color: white;
  text-align: center;
}

#title p {
  padding-bottom: 0;
}

/* Header Bottom Row */

.header-bottom {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-between;
}

/* Clocks in header bottom row */

.clock {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  color: yellow;
}

.clock h2 {
  font-size: 1.9rem;
}

/* Medallion icons in header bottom row */

.medallions {
  padding: 15px 0 0 0;
  bottom: 0;
}

.medallions ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.medallions ul li a {
  padding: 0.25rem;
  margin: 0 0.5rem;
}

/* ||| MARQUEE - Scrolling marquee above main content */

.marquee {
  grid-area: q;
  display: flex;
  height: 50px;
  overflow: hidden;
  position: relative;
  background-color: #444;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.marquee-image {
  height: 30px;
  border: 0px;
  border-radius: 5px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.marquee p a {
  color: #fff;
  align-items: center;
  justify-content: center;
}

.marquee p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;

  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: marquee 30s linear infinite;
  -webkit-animation: marquee 30s linear infinite;
  animation: marquee 32s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}

/* ||| OVERALL PAGE TITLE ------------------------------- */

.page-title {
  grid-area: p;
  display: flex;
  justify-content: center;
  background-color: black;
  font-size: 2rem;
}

/* ||| MAIN CONTENT ------------------------------- */

#lp-main-left {
  grid-area: l;
}

#lp-main-right {
  grid-area: r;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
}

.main {
  background-color: #cfcfcf;
  border-radius: 5px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  color: black;
}

.article h3 {
  color: #500e0e;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  padding: 8px;
}

.article h4 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.article p {
  padding: 5px 5px 15px 5px;
  font-weight: 300;
  font-size: 1.1rem;
  color: black;
  text-align: left;
}

.article a {
  font-weight: bold;
  color: black;
}

.news-image {
  margin: 1.2rem 0 2rem 0;
}

/* 
This represents the CSS classes created by Feed2JS below

rss-box defines the bounding div for the entire display- use to define borders, fill, etc.
rss-title the title of the feed and link style if displayed. Use with variants of rss-title a:link, rss-title a:hover, etc for rollover styles
rss-items defines the unordered list <ul>...</ul> for the feed items- use to define the padding/margins for items.
rss-item display of each feed item description and title, <li>...</li> as well as the channel description, if displayed.
rss-item a: variant for the item title and link style
rss-date defines the display of item posting dates */

.rss-box {
  margin: 1rem 0;
}

.rss-title,
rss-title a {
}

.rss-items {
}

.rss-item {
  padding: 0.7rem 0 0.6rem 0;
  line-height: 1.2;
}

.rss-item a:link,
.rss-item a:visited,
.rss-item a:active {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  text-align: left;
}

.rss-item a:hover {
  font-weight: bold;
}

.rss-date {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: #520303;
  text-align: left;
}

/* ||| SIDEBAR ------------------------------- */

.aside {
  grid-area: a;
  background-color: #444;
  border-radius: 5px;
  padding: 12px;
}

.aside h2 {
  padding: 12px 0 10px 0;
  text-align: center;
  font-size: 2rem;
  border-bottom: #dbdbdb 1px solid;
}

.aside ul {
  padding: 10px 0;
}

.aside ul li {
  font-size: 1rem;
  line-height: 2.5;
}

.aside ul li a {
  padding: 8px;
  margin-left: 5px;
}

.aside ul li a:hover {
  background-color: #111;
  color: #fff;
  border-radius: 3px;
}

.fas {
  border: none;
  color: #dbdbdb;
  font-size: 1.3rem;
}

.fab {
  border: none;
  color: #dbdbdb;
  font-size: 1.3rem;
}

/* ||| BAND CONDITIONS ------------------------------- */

.bcond {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: b;
  background-color: black;
  border: #444 3px solid;
  border-radius: 5px;
  padding: 12px;
}

.bcond h2 {
  padding: 12px 0 10px 0;
  margin: 0 0 15px 0;
  text-align: center;
  font-size: 2rem;
  border-bottom: #dbdbdb 1px solid;
}

.bcond h3 {
  padding: 20px 0 0 0;
  text-align: center;
  font-size: 1.2rem;
}

.bcond a {
  padding: 10px;
}

/* ||| FOOTER ------------------------------- */

.footer {
  grid-area: f;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: black;
  align-items: center;
}

.footer p {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: #fff;
}
